body{
    color: #c9c1ac;
    font-family: cursive monospace sans-serif;
    font-weight: 700; 
    background: url(../image/bg.jpg)center/cover fixed no-repeat;
}
html{
    scroll-behavior: smooth;
}
.info{
    background: #c9c1ac;
}
.info h2{
    word-spacing: 0.6rem; 
}
.info a{
    transition: color 2s ease-in-out;
}
.info a:hover{
    color: #242424;
}
.primary-color{
    color: #d3325f;
}

flex{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}
/* header style */
#header{
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/banner.jpg)center/cover fixed no-repeat;
    min-height: calc(100vh - 94px);
    position: relative;
}
.height{
    min-height: calc(100vh - 94px);
}
.banner h1{
    border-top: 5px dotted #c9c1ac;
    border-bottom: 5px dotted #c9c1ac;
    animation-name: left;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes left{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    50%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.main-btn{
    font-size: 2rem;
    border: 2px solid #d3325f;
    color: #d3325f;
    transition: all 1s ease-out;
}
.main-btn:hover{
    background: #c9c1ac;
    color: #242424;
    border: 2px solid #c9c1ac;
}
.sushi-ani{
    animation-name: right;
    animation-duration: 4s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    opacity: 0;

}
@keyframes right{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    50%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.header-link{
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    border-radius: 10px;
    transition: all 2s ease;
    background: #c9c1ac;
    margin-top: 20px;
    animation-name: moveBtn;
    animation-duration: 4s;
   animation-iteration-count: infinite;

}
@keyframes moveBtn{
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

.header-link:hover{
    color: #242424;
}
/* nav bar section  */
    .navbar{
        background: #c9c1ac;
        padding: 20px 20px;
        transition: all 1s ease;
    }
    .nar-background{
        padding: 5px 20px;
    }
    .nav-brand{
        font-size: 30px;
        transition: all 1s ease;
    }
    .nav-brand:hover{
        color: #242424;
    }
    .nav-link{
        color: #242424;
        text-decoration: none;
        transition: all 2s ease;
        font-size: 23px;
    }
    .nav-link:hover{
        color: #d3325f;
    }
    .nav-btn{
        color: #d3325f;
        background: transparent;
        border: 2px solid #d3325f;
        transition: all 2s ease;
    }
    .nav-btn:hover{
        color: #242424;
        border: 2px solid #242424;
        transform: rotate(10deg);
    }
    .toggler-btn{
        border: 2px solid #d3325f;
        padding: 5px;
        transition: all 2s ease;
    }
    .bar{
        width: 30px;
        height: 3px;
        margin: 5px;
        background: #d3325f;
        transition: all 0.5s linear;
    }
    .change .bar-1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .change .bar-2{
      opacity: none;
    }
    .change .bar-1{
    transform: rotate(45deg) translate(-5px, -8px);
}
/* special section */
.item-container{
    position: relative;
    background: linear-gradient(rgb(0,0,0), rgb(0,0,0,));
    overflow: hidden;
    transition: all 2s ease;
}
.item-image{
    transition: all 2s ease;
}
.item-container:hover .item-image{
    transform: scale(1.2);
    opacity: 0.5;
    outline: 10px solid #d3325f;
    outline-offset: 0.8rem;

}
.item-container:hover{
    outline: 10px solid #d3325f;
    outline-offset: 0.8rem;
}
.item-link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    border-top: 2px solid #d3325f;
    border-bottom: 2px solid #d3325f;
    color: #d3325f;
    opacity: 0;
    transition: all 2s ease;

}
.item-link:hover{
    background: #c9c1ac;
    border-top: 3px solid #c9c1ac;
    border-bottom: 3px solid #c9c1ac;
    color: #242424;
    

}
.item-container:hover .item-link {
    opacity: 1;
}

.main-container{
    background: linear-gradient(rgba(224,224,224,0.7),rgba(224,224,224,0.7)),url(../image/banner.jpg)center/cover fixed no-repeat;
}

/* menu section */
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
    gap: 30px;
}
.node{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
}
.node2{
    border: 2px solid red;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.head{
    margin: 0;
}
.specail{
    position: absolute;
    top: 0;
    right: 10%;
    color: black;
    font-size: 15px;
    background: red;
    padding: 10px;
    text-transform: uppercase;
}
.price{
    align-self: flex-end;
}
.flex-con{
    display: flex;
    flex-direction: column;
}
.node-text{
    margin: 0;
    padding: 0;
}
@media(max-width: 766px){
    .grid-container{
        grid-template-columns: 1fr;
    }
}
/* about section */

.about{
    position: relative;
}
.about:hover .about-imag:not(:hover){
    opacity: 0.5;
}
.about-imag{
    width: 150px;
    position: absolute;
    transition: all 2s ease;
    opacity: 0.9; 
}
.about-imag:hover{
    outline: 10px solid #d3325f;
    offset: 0.8rem;
    transform: scale(1.3) rotate(20deg);
    opacity: 1;
    z-index: 30;
}
img{
    width: 150px;
}
.img-1{
    top: 0%;
    left: 0%;
}
.img-2{
   top: 20% ;
   left: 20%;
   z-index: 10;
}
.img-3{
   top: 54%;
   left: 40%;
   z-index: 40;
}
.img-4{
    top: 0%;
    left: 40%;
}
.img-5{
    top: 0%;
    left: 45%;
}
.review-img{
    width: 150px;
}
.review-item{
    background: rgba(255,255,255,0.7);
    clip-path:ploygon(5% 0,100% 0,90% 100%,0 100%);
}
/*  section team */
.team-icon a{
    color: #3b5998;
    transition: all 2s ease-in-out;
}
.team-icon a:hover{
    color: #242424;
    transform: translateY(-5px);
}
/* contact section  */
.height-60{
   min-height: 60vh;
}
#contact .card{
    background: rgba(0,0,0,0.5);
    transition: all 2s ease;
}#contact .card:hover{
    background:rgba(0,0,0,0.8);
}
#contact .input-group-text{
    background: #d3325f;
    border: 2px solid #D3325f;
    color: #242424;
}
#contact .card-input{
    color: #606060;
}
::placeholder{
    color: #606060;
}
.contact-btn{
    color: #d3325f;
    border: 2px solid #d3325f;
    background: transparent;
    transition: all 2s ease;
}
.contact-btn:hover{
    background: #c9c1ac;
    color: #d3325f;
    border: 2px solid #c9c1ac;
}
/* footer section */
#back-to-top{
    background-color: #c9c1ac;
    border-radius: 10px;
    display: inline-block;
}
.scrollTop{
    position: fixed;
    bottom: 70px;
    left: 10px;
}